/*------------------------------------*\
  $VARIABLES
\*------------------------------------*/

/*------------------------------------*\
  $SPACER
\*------------------------------------*/
$px1: 2px;
$px2: 4px;
$px3: 6px;
$px4: 8px;
/*------------------------------------*\
  $COLOR
\*------------------------------------*/
$primary-color: #FA8C78;
$secondary-color: #FDAA7D;

// padding: $px4;
// padding: 0 $px4 0 0; → padding: 0 8px 0 0;
// background-color: $primary-color;