/*------------------------------------*\
  $UTILITIES
\*------------------------------------*/
.fz-1{
  font-size: 64px;
}
.fz-2{
  font-size: 48px;
}
.fz-3{
  font-size: 36px;
}

// /* border */
// .border-bold-white {
//   @include border-bold(white, $primary-light, rgba(255, 255, 255, 0.452));
// }

// .border-bold-black {
//   @include border-bold(black, white, black);
// }

// /* cursor */
// .cursor-pointer {
//   cursor: pointer;
// }

